/* Color and Fonts */
:root {
    --green: #16D3AA;
    --dark: #021A2E;
    --grey: #284054;
    --light: #ffffff;
    --deep-gradient: linear-gradient(var(--dark), var(--grey));
    --light-gradient: linear-gradient(0deg, var(--grey), #3C5B74);
    /*Margin*/
    --margin: 120px;
}

/* FUNDAMENTALS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--dark);
    scroll-behavior: smooth;
    line-height: 1.65;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span,
select {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--light);
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -1px;
    display: inline;
}

a {
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(.8rem, 1vw, 1rem);
}

h1 {
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

h2 {
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
}

h3 {
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1rem, 1.0vw, 1.7rem);
    font-size: 40px;
}

h4 {
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1rem, 1.0vw, 1.7rem);
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: clamp(.8rem, 1vw, 1rem);
    line-height: 1.3rem;
}

img {
    display: block;
}

input {
    border: none;
    background: transparent;
    color: var(--light);
    padding: 12px 0;
    border-bottom: 2px solid var(--green);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    letter-spacing: -.5;
}

input:focus {
    outline: none
}

::placeholder {
    color: var(--light);
}

select {
    background: var(--grey);
    padding: 12px 24px;
    color: var(--light);
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 2.66vw;
    margin-top: 24px;
}

button {
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    transition: .2s;
    cursor: pointer;
    background: #3C5B74;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1;
    font-size: 14px;
}

button:hover {
    background: var(--dark);
}

::selection {
    background: var(--green);
}

.divider-line {
    border-top: 1px solid var(--green);
    margin: 20px 0;
}

#gradient-overlay {
    background: radial-gradient(rgba(10, 255, 193, .19), #112722);
    opacity: 35%;
    mix-blend-mode: overlay;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    pointer-events: none;
}



/* NAV styling */
nav {
    width: 15vw;
    background: var(--light-gradient);
    height: 100vh;
    padding: 2vw;
    position: fixed;
}

nav main-logo {
    width: 100%;
}

nav .menu-link:first-of-type {
    margin-top: 40px;
}

nav .menu-link {
    position: relative;
    display: block;
    margin-bottom: 24px;
    height: 32px;
    transform: .2s;
}

nav .menu-link:hover {
    border-bottom: 1px solid var(--green);
}

nav .menu-link img {
    height: 20px;
    width: inherit;
    display: inline;
}

nav .menu-link p {
    font-size: 20px;
    position: absolute;
    margin-left: 8px;
}

nav .bottom-line {
    position: absolute;
    bottom: 2.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .bottom-line .dot {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: var(--light);
    display: inline;
    margin: 0 12px;
    top: 50%;
}

nav .bottom-line a {
    transition: .2s;
}

nav .bottom-line a:hover {
    color: var(--green);
}



section {
    padding: 2.66vw 2.66vw 0;
    width: 85vw;
    min-height: calc(100vh - 200px);
    background: var(--dark);
    position: relative;
    left: 15vw;
}

#main-dashboard {}

.title-row {
    position: relative;
}

.title-row .node-buttons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.title-row .node-buttons select {
    position: relative;
    margin-top: 0;
    right: 1.33vw;
}

button.new-node {
    height: 43px;
    background: var(--green);
    color: #155748;
    transition: .2s;
}

button.new-node:hover {
    background: #10f9c6;
}

button.new-node img {
    display: inline;
    margin-right: 8px;
}

.bottom-button {
    margin-top: -1.33vw;
}

.node-row {
    margin-bottom: 2.66vw;
    position: relative;
    height: 420px;
}

.node-card {
    width: calc(100% / 4 - 2vw);
    height: 100%;
    background: var(--light-gradient);
    float: left;
    margin-right: 2.66vw;
    border-radius: 8px;
    transition: .2s;
    opacity: .95;
    position: relative;
}

.node-card:hover {
    opacity: 1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}

.node-card:last-child {
    margin-right: 0;
}

.node-image {
    height: 196px;
    background: rgba(255, 255, 255, .05);
    position: relative;
    z-index: 1;
}

.node-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
}

.node-desc {
    padding: 1vw;
    position: relative;
}

.node-desc h4 {
    display: block;
}

.node-desc .node-stat p:last-of-type {
    float: right;
}

.node-desc button {
    margin-right: 8px;
    position: relative;
    bottom: 0;
    font-size: 12px;
}

.node-desc button img {
    display: inline;
    height: 18px;
}

.node-desc .node-trash {
    background: rgba(248, 39, 89, .3);
    padding: 12px;
}

.node-desc .node-trash:hover {
    background: rgba(248, 39, 89, .5);
}

.node-card.add-new .center-this {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.node-card.add-new p {
    color: var(--dark);
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.node-card.add-new img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.node-card .button-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.widget {
    background: var(--light-gradient);
    border-radius: 8px;
    padding: 1.33vw 2vw;
    float: left;
    position: relative;
}

.widget h3 {
    margin-bottom: 20px;
    display: block;
}

.content-row {
    position: relative;
}

.overall-conv {
    width: 40vw;
    margin-right: 2.66vw;
    height: 538px;
}

.overall-conv img {
    width: 100%;
}

.overall-conv-stats {
    width: 34.34vw;
    float: left;
}

.small-conv {
    width: 17.17vw;
    height: 244px;
    float: left;
    padding: 24px;
}

.overall-conv-stats:first-child {
    margin-right: 2.66vw;
}

.conv-row {
    display: flex;
    align-content: center;
    position: relative;
    margin-left: 2.66vw;
    margin-bottom: 2.66vw;
}

.overall-conv-rate {
    background: linear-gradient(-45deg, #16D3AA, #6C63FF);
    border: none;
}

.widget.leads-created {
    background: linear-gradient(-45deg, #16D3AA, #6CF9EF);
    border: none;
}

.widget.leads-created * {
    color: var(--dark);
}

.small-conv * {
    display: block;
}

.small-conv .percentage {
    position: absolute;
    top: 24px;
    right: 24px;
}

.small-conv .percentage * {
    display: inline;
}

.small-conv .percentage img {
    transform: translateY(-90%);
}

.small-conv h4 {
    font-size: 62px;
    position: absolute;
    bottom: 24px;
}

.small-conv p {
    position: absolute;
    bottom: 24px;
}

.small-conv .info-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.top-performing-nodes-row {
    height: 538px;
    position: relative;
}

.top-performing-nodes {
    height: 100%;
    width: 30vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.top-performing-nodes img {
    width: 22vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 58%;
    left: 50%;
}

.top-nodes-rank-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 28vw;
}

.node-rank {
    height: 20%;
    background: linear-gradient(-90deg, var(--dark), var(--grey));
    border-top-right-radius: 8;
    border-bottom-right-radius: 8;
    position: relative;
    cursor: pointer;
}

.node-rank .text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 1.33vw;
}

.node-rank .text span {
    margin-right: 1.33vw;
    transition: .2s;
}

.node-rank .text * {
    font-size: 30px;
    font-weight: bold;
}

.node-rank .gradient {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    mix-blend-mode: soft-light;
    opacity: .7;
    transition: .2s;
}

.node-rank:hover .gradient {
    opacity: 1;
    width: 100%;
}

.node-rank:hover span {
    margin-right: 1.5vw;
}

.node-rank-1 .text span {
    color: var(--green);
}

.node-rank-1 .gradient {
    background: linear-gradient(90deg, rgba(22, 211, 170, 1), rgba(22, 211, 170, 0));
}

.node-rank-2 .text span {
    color: #6C63FF;
}

.node-rank-2 .gradient {
    background: linear-gradient(90deg, rgba(108, 99, 255, 1), rgba(108, 99, 255, 0));
}

.node-rank-3 .text span {
    color: #FF9333;
}

.node-rank-3 .gradient {
    background: linear-gradient(90deg, rgba(255, 147, 51, 1), rgba(255, 147, 51, 0));
}

.node-rank-4 .text span {
    color: #F96C72;
}

.node-rank-4 .gradient {
    background: linear-gradient(90deg, rgba(249, 108, 114, 1), rgba(249, 108, 114, 0));
}

.widget.rocket {
    width: 17.17vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(-45deg, #16D3AA, #6C63FF);
    border: none;
}

.widget.rocket img {
    transition: .5s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.widget.rocket:hover img {
    top: 40%;
}


.widget.top-location {
    width: 100%;
    height: 538px;
    margin-top: 2.66vw;
    float: none;
}

.widget.top-location .map {
    width: 50%;
}

.top-location-ranks {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
}

.location-rank-row {
    width: 100%;
    margin: 20px 0;
    height: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, .25)
}

.location-rank-row p {
    font-size: 18px;
}

.location-rank-row p:nth-child(1) {
    margin-right: 1vw;
}

.location-rank-row p:nth-child(2) {
    margin-right: 15vw;
}

.location-rank-row p:nth-child(3) {
    margin-right: .5vw;
}

.location-rank-row img {
    height: 20px;
    display: inline;
    transform: translateY(20%)
}


footer {
    height: 200px;
    position: relative;
    widows: 85vw;
    margin-left: 15vw;
    padding: 0 2.66vw 2.66vw;
}

footer .footer-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.uppercase {
    font-size: 12px;
    letter-spacing: 2.5;
    text-transform: uppercase;
    font-weight: 500;
}

footer .footer-some {
    width: 13vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 2.66vw;
    top: 50%;
    transform: translateY(-50%);
}


.widget.choose-node-type {
    width: 100%;
}

.choose-node-type form {
    margin-top: 32px;
    border-radius: 8px;
    overflow: hidden;
}

.choose-node-type .radio-row {
    width: 100%;
    background: var(--dark);
    height: 56px;
    position: relative;
    border-bottom: 1px solid #497174;
}

.choose-node-type .radio-row:last-of-type {
    border: none;
}

.choose-node-type .radio-row input,
.choose-node-type .radio-row label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 24px;
}

.choose-node-type .radio-row label {
    left: 32px;
}

.choose-node-type .new-node {
    position: sticky;
    right: 2vw;
    margin-top: 20px;
}
